body{
    padding: 0;
    margin: 0;
}

#canvas{
    /* width: 1200px;
    height: 500px; */
    border: 1px solid rgb(56, 33, 33);
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../game pix/background_cave.png");
    background-size: contain;
    border-top: 50px;
}
  
#spikes{
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 1400px;
    z-index: 100;
    
}



