body{
    padding: 0;
    margin: 0;
}

#canvas{
    /* width: 1200px;
    height: 500px; */
    border: 1px solid rgb(56, 33, 33);
    
}
  

  
#floor {
    background-color: black;
    position: absolute;
  }
  